# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/LovelyLittleVirus
*.filters
*.user
/main/x64/Debug
/launcher/x64/Debug/launcher.tlog
/launcher/x64/Debug
/x64/Debug
/main/x64/Release
/x64/Release
/launcher/x64/Release
/.vs
